.container, .item {
 padding: 10рх
 border: 1px solid #000000;
}
.container {
display: flex;
flex-wrap:rap;
flex-direction: column;
gap: 20px;
justify-content: center;
align-content: center;
align-items: center;
height: 700px;


}

.item{
height: 200px;
width: 200px;

}