<!DOCTYPE html>

<!-- Doctype должен указываться в самом верху документа перед тегом html>
<!Сам doctype при этом тегом не является, не требует закрывающего тега.>
<!Нужен он для того, чтобы браузер понимал, как обрабатывать текущий документ.-->


<html lang="en">
<!--head –  является заголовком, описанием страницы для браузера и поисковых ботов. Ю
<!Элемент head HTML-документа не отображается на странице в веб-браузере.>
<!Задача head — хранить метаданные документа.-->

<head>
    <!--У элементов <meta> часто есть атрибуты name и content:
•	name — тип элемента, то есть какие именно метаданные он содержит.
•	content — сами метаданные.-->

    <meta charset="UTF-8">
    <title>Flower service</title> <!--заголовок окна браузера, будет отображаться так:текст в шапке закладки. -->
    <!--У элементов <meta> часто есть атрибуты name и content:
	name — тип элемента, то есть какие именно метаданные он содержит и content — сами метаданные.-->
    <meta name="author" content="Alena Shylionak">
    <meta name="description" content="Flower online store shop">
    <meta name="keyword" content="Цветы, доставка цветов, свадебный букет, праздник, Беларусь, Mинск">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Метатег viewport  важен потому что это область, которую видит пользователь на экране,
     когда заходит на страницу сайта с любого устройства: планшет, телефон, компьютер.
     Лучше всегда указывать: <meta name="viewport" content="width=device-width, initial-scale=1.0">.
     Так мы скажем браузеру, что страницу нужно оптимизировать любой экран-->
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <!--Атрибут http-equiv фактически эквивалентен гипертекстовому заголовку,
     формируют заголовок страницы и определяют его обработку-->
    <link rel="shortcut icon" href="./artage-io-884_1657201778.ico">
     <link rel="stylesheet" href="./index.css">
    <style>
   .flower {color: blue;}
}

  </style>

</head>
<body>
<<h1 class="flower"> Цветочный магазин "Ваша мечта"</h1>

<div class="container" >
    <div class="item">Роза</div>
    <div class="item">Гвоздика</div>
    <div class="item">Лаванда</div>
    <div class="item">Ландыш</div>
    <div class="item">Орхидея</div>
    <div class="item">Фиалка</div>
    <div class="item">Гонтензия</div>
    <div class="item">Ромашка</div>


<!--<h1 class="flower"> Цветочный магазин "Ваша мечта"</h1>


<nav>
    <a href="#">Обо нас</a>
    <a href="#">Наши букеты</a>
    <a href="#">Контакты</a>
    <a href="#">Обратная связь</a>
</nav>
<p class="flower">Накануне важного события всегда задаешься вопросом – где купить цветы в Минске? Желательно с доставкой в нужное место и в нужное время. <br />
    Среди цветочных магазинов иногда не просто найти именно тот, где устроит все - приятное общение, профессионализм флористов, <br />
    высокое качество обслуживания и, конечно же, качество цветов. <br />

    Команда флористов магазина "Ваша мечта" всегда нацелена на результат - заказ доставки букетов и композиций займет у вас минимум времени и подарит максимум удовольствия.<br /></p>-->
</body>
</html>